design/backend/css/twitterbootstrap.css
images/*
users/*
app/vendor/*
var/*
stores/*
!var/database/*
!var/.htaccess
!var/index.php
!var/themes_repository/*
_TEMP
local_conf.php
sph.php
TODO

_tools/selenium_WebDriver/tests/share/config/sessions.local.php
_tools/selenium_WebDriver/tests/share/storage/local.php
_tools/selenium_WebDriver/tests/share/storage/screens/*.png

*.bak
*.DS_Store*
*.sublime*
*.sw*
*~
.buildpath
.idea
.project
nbproject